@charset "UTF-8";
/*---リセットCSS設定---*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  background-color: #FFFFFF;
  color: #36404B;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(42, 210, 143);
  text-decoration: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.inner {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    padding-left: 22px;
    padding-right: 22px;
  }
}

/*---header---*/
.header {
  height: 138px;
  width: 100%;
}
@media (max-width: 767px) {
  .header {
    height: 80px;
    width: 100%;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 108px;
  margin-left: 16px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 75px;
  }
}
.header__logo img {
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #707070;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .header__nav {
    font-size: 10px;
    letter-spacing: 0.5px;
  }
}
.header__nav li:not(:first-child) {
  margin-left: 38px;
}
@media (max-width: 767px) {
  .header__nav li:not(:first-child) {
    margin-left: 20px;
  }
}
/*---main__visual---*/
.main__visual {
  width: 100%;
  height: 664px;
}
@media (max-width: 767px) {
  .main__visual {
    height: 100%;
  }
}

.main__visual--image {
  height: 625px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  position: relative;
}
.main__visual--image::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 0;
  height: 39px;
  width: 100%;
  background: #9AC1F0 linear-gradient(to bottom, #fff 50%, transparent 50%, transparent 100%);
  background-size: 3px 3px;
}
@media (max-width: 767px) {
  .main__visual--image {
    height: 100%;
  }
}

/*---intro---*/
.intro {
  padding: 80px 242px 66px 251px;
  text-align: center;
}
@media (max-width: 767px) {
  .intro {
    padding: 35px 8px 30px;
  }
}

.title {
  font-size: 50px;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 20px;
  padding-left: 5px;
}
@media (max-width: 767px) {
  .title {
    font-size: 30px;
    line-height: 0.6;
    margin-bottom: 10px;
    padding-left: 0;
  }
}

.icon {
  display: inline-flex;
  height: 41px;
  margin-bottom: 21px;
  padding-left: 3px;
}
@media (max-width: 767px) {
  .icon {
    height: 20px;
    margin-bottom: 10px;
    padding-left: 0;
  }
}

.lead {
  font-size: 24px;
  font-family: "Noto Sans JP";
  line-height: 1.25;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
  padding-left: 5px;
}
@media (max-width: 767px) {
  .lead {
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    padding-left: 0;
  }
}

.content {
  font-family: "Noto Sans JP";
  text-align: left;
  letter-spacing: 0.8px;
  padding-left: 3px;
}
@media (max-width: 767px) {
  .content {
    padding-left: 0;
    letter-spacing: normal;
  }
}

.mgr-8 {
  margin-right: -5px;
}
@media (max-width: 767px) {
  .mgr-8 {
    margin-right: 0;
  }
}

.policy {
  text-align: center;
  margin: 13px 0 86px;
}
@media (max-width: 767px) {
  .policy {
    margin: 0 0 50px;
  }
}

.policy__title {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .policy__title {
    margin-bottom: 10px;
  }
}

.policy__icon {
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .policy__icon {
    margin-bottom: 10px;
  }
}

.concept {
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .concept {
    margin-bottom: 50px;
  }
}

.concept__title {
  margin-bottom: 22px;
}

.concept__icon {
  margin-bottom: 24px;
  padding-left: 5px;
}
@media (max-width: 767px) {
  .concept__icon {
    margin-bottom: 10px;
    padding-left: 0;
  }
}

.concept__lead {
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .concept__lead {
    margin-bottom: 10px;
  }
}

.concept__content {
  margin-top: -7px;
}

.concept__text:not(:first-child) {
  margin-top: -2px;
}

.profile {
  text-align: center;
}

.profile__title {
  margin-bottom: 35px;
  padding-top: 7px;
  padding-left: 25px;
}
@media (max-width: 767px) {
  .profile__title {
    margin-bottom: 10px;
    padding-top: 0;
    padding-left: 0;
  }
}

.profile__icon {
  padding-left: 16px;
  margin-bottom: 85px;
}
@media (max-width: 767px) {
  .profile__icon {
    margin-bottom: 10px;
    padding-left: 0;
  }
}

.profile__container {
  display: flex;
}
@media (max-width: 767px) {
  .profile__container {
    display: block;
  }
}

.profile__left {
  width: 455px;
  padding-left: 2px;
}
@media (max-width: 767px) {
  .profile__left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    order: 2;
  }
}

.profile-ruby,
.profile-name,
.profile-favorite {
  padding-left: 4px;
}

.profile-name,
.profile-favorite {
  font-size: 24px;
  font-family: Noto Sans JP;
  line-height: 1.6666666667;
}

.profile-name {
  padding-bottom: 15px;
}

.profile-favorite {
  padding-bottom: 23px;
}

.profile-ruby {
  line-height: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.profile-desc {
  font-family: "Noto Sans JP";
  letter-spacing: 0.8px;
  text-align: left;
}
.profile-desc span {
  display: block;
}
.profile-desc span:not(:first-child) {
  margin-top: 15px;
}

.profile__right {
  width: 430px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .profile__right {
    width: 100%;
    margin-bottom: 10px;
    order: 1;
  }
}

.pc {
  display: block !important;
}
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

.sp {
  display: none !important;
}
@media (max-width: 767px) {
  .sp {
    display: block !important;
  }
}

.skill-lists {
  display: flex;
  align-items: center;
  width: 100%;
  height: 89px;
  padding: 16px 37px 17px 40px;
  border: #36404B 1px solid;
  border-radius: 3px;
  margin-top: 58px;
  margin-left: 2px;
}
@media (max-width: 767px) {
  .skill-lists {
    display: inline-block;
    margin: 0 auto;
    padding: 20px 30px;
    width: 276px;
    height: 100%;
  }
}

.skill-title {
  font-size: 30px;
  font-weight: 600;
  padding-right: 32px;
  letter-spacing: 1.2px;
}
@media (max-width: 767px) {
  .skill-title {
    font-size: 18px;
    padding-right: 0;
  }
}

.skill-list {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1.2px;
  width: 180px;
  padding: 6px;
  color: #FFFFFF;
  display: inline-block;
  margin-left: 8px;
}
@media (max-width: 767px) {
  .skill-list {
    font-size: 16px;
    letter-spacing: normal;
    width: 214px;
    height: 30px;
    margin-left: 0;
  }
}
.skill-list.is-red {
  background: #E45F2B;
}
.skill-list.is-blue {
  background: #9AC1F0;
}
.skill-list.is-yellow {
  background: #F6C445;
}
.skill-list.is-green {
  background: #A0E548;
}

/*---work---*/
.work {
  background: #EBEBEB;
  padding: 88px 71px 84px 82px;
  text-align: center;
}
@media (max-width: 767px) {
  .work {
    padding: 40px 8px 30px;
  }
}

.work__inner {
  width: 1290px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .work__inner {
    width: 1280px;
  }
}

.work__title {
  margin-bottom: 24px;
  margin-left: -10px;
}
@media (max-width: 767px) {
  .work__title {
    margin-bottom: 10px;
  }
}

.work__icon {
  padding-left: 0;
}

.work__card--items {
  margin-top: 9px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Noto Sans JP";
}
@media (max-width: 767px) {
  .work__card--items {
    margin-top: 10px;
  }
}

.card__item {
  width: calc(33.3% - 15.3333333333px);
  background-color: #EBEBEB;
  padding: 0;
  text-align: left;
}
@media (min-width: 1280px) {
  .card__item:not(:nth-child(3n+1)) {
    margin-left: 23px;
  }
  .card__item:nth-child(n+4) {
    margin-top: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .card__item {
    width: calc(50% - 11.5px);
  }
  .card__item:not(:nth-child(2n+1)) {
    margin-left: 23px;
  }
  .card__item:nth-child(n+3) {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n+2) {
    margin-top: 40px;
  }
}

.card__img {
  padding-top: 66.6666666667%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card__title {
  font-size: 24px;
  line-height: 24px;
  margin-top: 28px;
}
@media (max-width: 767px) {
  .card__title {
    font-size: 16px;
    line-height: 1;
    margin-top: 16px;
  }
}

.card__text {
  line-height: 1.2;
  margin-top: 14px;
}
@media (max-width: 767px) {
  .card__text {
    font-size: 12px;
  }
}

.card__skill {
  line-height: 1;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .card__skill {
    font-size: 12px;
  }
}

.card__time {
  line-height: 1;
  margin-top: 9px;
}
@media (max-width: 767px) {
  .card__time {
    font-size: 12px;
  }
}

.card__member {
  line-height: 1.5;
  margin-top: 3px;
}
@media (max-width: 767px) {
  .card__member {
    font-size: 12px;
  }
}
.card__member a {
  text-decoration: underline;
}

/*---contact---*/
.contact {
  padding: 91px 282px 78px 291px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact {
    padding: 40px 8px;
  }
}

.contact__title {
  padding-left: 9px;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  .contact__title {
    margin-bottom: 10px;
    padding-left: 0;
  }
}

.contact__icon {
  padding-left: 11px;
  margin-bottom: 21px;
}
@media (max-width: 767px) {
  .contact__icon {
    padding-left: 0;
  }
}

.contact__form {
  margin: 0 auto;
  width: 886px;
  max-width: 100%;
  background: #9AC1F0;
  padding: 60px 140px 75px 128px;
  font-family: "Noto Sans JP";
  text-align: left;
}
@media (max-width: 767px) {
  .contact__form {
    margin-top: 15px;
    padding: 30px 20px 35px;
  }
}

.contact-form__row:not(:first-child) {
  padding-top: 38px;
}
@media (max-width: 767px) {
  .contact-form__row:not(:first-child) {
    padding-top: 24px;
  }
}

.contact-form__label {
  padding: 0 0 7px;
  margin: 0;
}
@media (max-width: 767px) {
  .contact-form__label {
    width: 100%;
  }
}
.contact-form__label label {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .contact-form__label label {
    font-size: 14px;
  }
}

.contact-form__input {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contact-form__input {
    margin-top: 8px;
  }
}
.contact-form__input input::-moz-placeholder {
  font-size: 16px;
  color: #36404B;
  letter-spacing: 0.4px;
  opacity: 1;
}
.contact-form__input input::placeholder {
  font-size: 16px;
  color: #36404B;
  letter-spacing: 0.4px;
}
.contact-form__input [type=text] {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
}
.contact-form__input [type=email] {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
}
.contact-form__input textarea {
  height: 200px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
  padding: 8px 20px 10px;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  resize: none;
}
.contact-form__input textarea::-moz-placeholder {
  font-size: 16px;
  color: #36404B;
  opacity: 1;
}
.contact-form__input textarea::placeholder {
  font-size: 16px;
  color: #36404B;
}

.contact-form__button {
  padding-top: 14px;
  text-align: center;
  margin-left: 23px;
}
@media (max-width: 767px) {
  .contact-form__button {
    margin-left: 0;
  }
}
.contact-form__button [type=submit] {
  width: 120px;
  height: 50px;
  font-size: 16.5px;
  display: inline-block;
  padding: 14px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(106, 129, 157, 0.16);
  background: #F6C445;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
}
.contact-form__button [type=submit]:hover {
  color: #9AC1F0;
  box-shadow: none;
  background: #FFFFFF;
  transform: translate3d(0, 3px, 0);
}

/*---footer---*/
.footer {
  height: 85px;
}
@media (max-width: 767px) {
  .footer {
    height: 60px;
  }
}

.footer__line {
  height: calc(100% - 45px);
  background: #F6C445 linear-gradient(#fff 50%, transparent 50%, transparent 100%);
  background-size: 3px 3px;
}
@media (max-width: 767px) {
  .footer__line {
    height: calc(100% - 29px);
  }
}

.copyright {
  height: 45px;
  padding: 13px 0;
  font-size: 12px;
  font-family: "Noto Sans JP";
  text-align: center;
  background: #EBA059;
}
@media (max-width: 767px) {
  .copyright {
    height: 29px;
    padding: 4px 0;
  }
}
